<div>
  <div id="Onroute"></div>

  <div class="overlay">
    <!-- <ion-fab vertical="end" horizontal="center" >
      <ion-fab-button (click)="startDrawingRoute()"><ion-icon name="add"></ion-icon></ion-fab-button>
      <ion-fab-list side="bottom">
        
        <ion-fab-button [hidden]="!currentRoute" (click)="finishRoute()">
          <ion-icon name="save"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="routes.length > 0 && !currentRoute" (click)="clearAllRoutes()">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
        <ion-fab-button [hidden]="!currentRoute" (click)="cancelRoute()">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
    <!-- <ion-button color="{{drawType == 'route' ? 'secondary' : 'primary'}}" (click)="setDrawType('route')">Route</ion-button>
    <ion-button *ngIf="!currentRoute" color="{{drawType == 'stop' ? 'secondary' : 'primary'}}" (click)="setDrawType('stop')">Stop</ion-button> -->
  </div>
</div>