<ion-content >  
  <ion-toolbar color="transparent">  
    <ion-buttons slot="start">  
      <ion-menu-button color="light"></ion-menu-button>   
    </ion-buttons>  
  </ion-toolbar>  
  <ion-content *ngIf="!(loading | async)">
    <div>
      <div style="flex: 1;">
        <h1 [style]="'margin-left: 15px'">Schedule</h1>
      </div>
      <div class="user-schedule">
        <ion-searchbar color="dark" class="searchbar background-white" debounce="500" (ionChange)="setScheduleFilter('search', $event)"></ion-searchbar>
        <ion-item lines="inset" >
          <!-- <ion-icon name="options"></ion-icon> -->
          <ion-label >Filter By Days</ion-label>
          <ion-select  slot="end" multiple="true" (ionChange)="setScheduleFilter('days', $event)">
            <ion-select-option value="Sunday">Sunday</ion-select-option>
            <ion-select-option value="Monday">Monday</ion-select-option>
            <ion-select-option value="Tuesday">Tuesday</ion-select-option>
            <ion-select-option value="Wednesday">Wednesday</ion-select-option>
            <ion-select-option value="Thursday">Thursday</ion-select-option>
            <ion-select-option value="Friday">Friday</ion-select-option>
            <ion-select-option value="Saturday">Saturday</ion-select-option>
          </ion-select>
      </ion-item>
      </div>
    </div>
    <div>
      <schedule-card *ngFor="let route of schedules.routes" [route]="route"></schedule-card>
    </div>
  </ion-content>
</ion-content>