.login-card{
  width: 90%;
  margin: auto;
  top: 20%;
  padding: 10px;
  @media screen and (min-width: 480px) {
    width: 25%;
  }
}

.title-card{
  top: 15%;
  background-color: transparent;
  color: #f9b42a;
  box-shadow: none;
}

h1, h2{
  color: #f9b42a;
}

.center{
  text-align: center;
}

.item{
  // border-color: rgba(0, 0, 0, 0);
	// background-color: rgba(0, 0, 0, 0);
	// color: white; 
}