<ion-content [fullscreen]="true">   
  <app-menu></app-menu>
  <ion-content *ngIf="!(loading | async)">
    <div [style]="showMenu? 'display: flex; flex-wrap: wrap;': ''">
      <div style="flex: 1;">
        <h1 [style]="showMenu? 'margin-left: 75px' : 'margin-left: 15px'">Schedule</h1>
      </div>
      <div class="{{showMenu? 'admin-schedule': 'user-schedule'}}">
        <ion-searchbar color="dark" class="searchbar background-white" debounce="500" (ionChange)="setScheduleFilter('search', $event)"></ion-searchbar>
        <ion-item class="filter-select">
            <ion-icon name="options"></ion-icon>
            <ion-label style="display: none;">Filter By Days</ion-label>
            <ion-select   multiple="true" value="{{filter.days}}" (ionChange)="setScheduleFilter('days', $event)">
              <ion-select-option value="Sunday">Sunday</ion-select-option>
              <ion-select-option value="Monday">Monday</ion-select-option>
              <ion-select-option value="Tuesday">Tuesday</ion-select-option>
              <ion-select-option value="Wednesday">Wednesday</ion-select-option>
              <ion-select-option value="Thursday">Thursday</ion-select-option>
              <ion-select-option value="Friday">Friday</ion-select-option>
              <ion-select-option value="Saturday">Saturday</ion-select-option>
            </ion-select>
        </ion-item>
      </div>
    </div>
    <div [class]="!getIsOpen() && showMenu ? 'menu-open' : ''">
      <schedule-card  *ngFor="let route of schedules.routes" [route]="route"></schedule-card>
    </div>
  </ion-content>
</ion-content>