<ion-card>
  <ion-card-header>
    <ion-card-title class="route-title" >
      <div class="mobile-text route-title-div" innerHTML="{{getRouteTitle(route)}}" ></div>
      <div style="flex: 1; display: flex; flex-wrap: wrap; flex-direction: column;">
        <div style="display: flex; flex-wrap: wrap;">
          <ion-icon name="calendar" style="padding:4px;"></ion-icon>
          <div class="mobile-text" style="text-transform: capitalize; padding: 3px; margin: auto;" 
            *ngFor="let day of route.dayOfTheWeek.split(',')">
            {{day}}
          </div>
        </div>
        <div >
          <ion-chip 
          [color]="selectedTime === i?'warning' : 'secondary'" 
          [outline]="selectedTime === i?false : true" *ngFor="let start of route.startTimes.split(','); let i = index" 
          (click)="setStartTime(i)">
            <ion-label [color]="selectedTime === i?'primary' : 'light'">{{getMomentTime(start)}}</ion-label>
          </ion-chip>              
        </div>
      </div>
      
    </ion-card-title>
  </ion-card-header>

  <ion-card-content class="schedule-locations" >
    <ion-list *ngFor="let schedule of route.schedule">
      <ion-item style="border-color: #f9b42a;">
        {{schedule.locationID.name}}
        <span slot="end">{{getMomentTime(schedule.estTime.split(',')[selectedTime])}}</span>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>