  <ion-split-pane contentId="main">
    <ion-menu>
      <div style="height: 100%;">
        <ion-header [translucent]="true">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-icon (click)="toggleMenu()" name="menu-outline" size="large"></ion-icon>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
    
        <ion-list style="height: 100%;"> 
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item class="menu-item" (click)="navigateTo(p.url)" >
              <ion-icon style="color: inherit;" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
    </ion-menu>
  </ion-split-pane>
  <ion-router-outlet [ngClass]="menuOpen ? 'menu-open' : 'menu-closed'" ></ion-router-outlet>
