<ion-menu side="start" menuId="admin-menu" contentId="admin" type="reveal" (ionWillOpen)="menuOpened()" (ionWillClose)="menuClosed()">
  <ion-header [translucent]="true">
    <ion-title>Welcome, {{userName}}</ion-title>
  </ion-header>    
  <ion-list style="height: 100%; padding-top:0; padding-left: 6px;"> 
    <ion-item  *ngFor="let p of appPages; let i = index"class="menu-item" (click)="navigateTo(p.url)" >
      <ion-icon style="color: inherit;" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
    <ion-item class="menu-item" (click)="logout()" >
      <ion-icon style="color: inherit;" slot="start" [ios]="'lock-open-outline'" [md]="'lock-open-sharp'"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>  
</ion-menu>
<ion-router-outlet id=admin></ion-router-outlet>
