<div class="modal-container">
  <ion-card>

    <ion-item-divider color="secondary">
      <ion-label color="primary" >
        <ion-title>{{routeAction}} Route</ion-title>
      </ion-label>
    </ion-item-divider>

    <ion-item  lines="full">
      <ion-label position="floating">Route Name</ion-label>
      <ion-input type="text" value="{{route.name}}" (ionChange)="setName($event)" required ></ion-input>
    </ion-item>
    
  <ion-item  lines="full">
    <ion-label position="floating">Days the route is active</ion-label>
    <ion-select placeholder="Select One" (ionChange)="setDays($event)" multiple >
      <ion-select-option value="Sunday">Sunday</ion-select-option>
      <ion-select-option value="Monday">Monday</ion-select-option>
      <ion-select-option value="Tuesday">Tuesday</ion-select-option>
      <ion-select-option value="Wednesday">Wednesday</ion-select-option>
      <ion-select-option value="Thursday">Thursday</ion-select-option>
      <ion-select-option value="Friday">Friday</ion-select-option>
      <ion-select-option value="Saturday">Saturday</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item  lines="full">
    <ion-label position="floating">Start Location</ion-label>
    <ion-select placeholder="Select One" value="{{route.startLocationID}}" (ionChange)="setStartLocation($event)">
      <ion-select-option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item  lines="full">
    <ion-label position="floating">End Location</ion-label>
    <ion-select placeholder="Select One" value="{{route.stopLocationID}}" (ionChange)="setStopLocation($event)">
      <ion-select-option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item-divider color="secondary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="success" [disabled]="!isValid()"  expand="block" (click)="closePopover('save')">Start Drawing Route <ion-icon slot="end" name="checkmark-outline"></ion-icon></ion-button>   
        </ion-col>
        <ion-col>
          <ion-button color="danger"  expand="block" (click)="closePopover('cancel')">Cancel <ion-icon slot="end" name="close"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
    
    
  </ion-item-divider>
  </ion-card>
</div>

