$ngx-datatable-background: rgb(30, 30, 30) ;
$ngx-datatable-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12) ;
$ngx-datatable-row-odd-background: #757575  ;

// default row and cell background colors
$ngx-datatable-default-background: #0a283ff2 ;
$ngx-datatable-default-background-hover: #f9b42a ;
$ngx-datatable-default-background-focus: #f9b42a;

// default background colors for cell selection style
$ngx-datatable-cellselection-background-hover: rgb(0, 0, 0) ;
$ngx-datatable-cellselection-background-focus: rgb(0, 0, 0) ;

// colors for header elements
// $datatable-header-cell-background: #fff !default;
// $datatable-header-cell-color: rgba(0, 0, 0, 0.54) !default;
// $datatable-header-border-bottom-color: rgba(0, 0, 0, 0.12) !default;
// $datatable-header-resize-handle-color: #eee !default;

// colors for table body elements
// $datatable-row-detail-background: #f5f5f5 !default;
// $datatable-body-cell-color: rgba(0, 0, 0, 0.87) !default;
// $datatable-group-header-background: #f5f5f5 !default;
// $datatable-group-header-border-top-color: #d9d8d9 !default;
// $datatable-group-header-border-bottom-color: #d9d8d9 !default;

// background and text colors for selected cell / row
// $ngx-datatable-selected-active-background: #304ffe !default;
// $ngx-datatable-selected-active-color: #fff !default;
// $ngx-datatable-selected-active-background-hover: #193ae4 !default;
// $ngx-datatable-selected-active-color-hover: #fff !default;
// $ngx-datatable-selected-active-background-focus: #2041ef !default;
// $ngx-datatable-selected-active-color-focus: #fff !default;

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

ngx-datatable {
  padding: 32px;
}

table {
  width: 100%;
}
ion-card{
  margin-left:64px;
}