<div>
  <div id="locations" *ngIf="page === 'locations'" [class]="!getIsOpen() ? 'menu-open' : ''"></div>  
  <div id="dashboard" *ngIf="page === 'dashboard'" [class]="!getIsOpen() ? 'menu-open' : ''"></div>
  <div id="routes" *ngIf="page === 'routes'" [class]="!getIsOpen() ? 'menu-open' : ''"></div>    

  <div class="overlay">
    <div class="routeStops" *ngIf="startTimes.length > 0">
      <ion-card style="font-size: medium; padding:5px; color:white">
        Route Start Times
      </ion-card>
      <ion-card *ngFor="let startTime of startTimes; let i = index;">
        <ion-item  lines="full">
          <ion-label position="stacked">Start time</ion-label>
          <ion-input type="time" value="{{startTimes[i]}}" (ionChange)="setStartTime(i,$event)" required></ion-input>
        </ion-item>
      </ion-card>
      <ion-button style="padding-left: 10px; color: white;" color="secondary" (click)="addStartTime()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
    

    <ion-fab vertical="center" horizontal="end" *ngIf="page === 'routes'"  >
      <ion-fab-button (click)="startDrawingRoute()"><ion-icon name="add"></ion-icon></ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button [hidden]="!currentRoute" (click)="finishRoute()">
          <ion-icon color="primary" name="save"></ion-icon>
        </ion-fab-button>
        <ion-fab-button [hidden]="!currentRoute" (click)="cancelRoute()">
          <ion-icon color="primary" name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <div class="searchBar" *ngIf="!viewShuttlesRoute">
      <ion-searchbar #locationSearchAdmin color="light" 
      placeholder="Search Places..."
      value="{{searchString}}"
        debounce="500" (ionFocus)="startFilter()"
        (ionChange)="searchLocations($event)">
      </ion-searchbar>
      <ion-card class="searchCard" *ngIf="searchingLocations">
        <ion-list>
          <ion-item  class="locationSearchItem" color="dark" *ngFor="let location of filteredLocations"  (click)="goToLocation(location)">
              <span class="searchItemText">{{location.name}}</span>
            <ion-icon slot="end" name="location"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf="viewShuttlesRoute && !(loadingShuttle | async)">
      <ion-card class="searchCard">
       <ion-card-header color="dark" >
        <ion-spinner *ngIf="(loadingShuttle | async)"></ion-spinner>
         <span style="padding:0px 5px" innerHTML="{{getRouteTitle()}}"></span>
          <ion-icon class="close-icon" (click)="stopShuttleView()" name="close-circle"></ion-icon>
       </ion-card-header>
        <ion-list>
          <ion-item color="dark">
            Next Stop:
            <div style="display: flex; width: 100%;" *ngIf="nextStop">
              <div style="margin-right: 20px;">{{nextStop.locationID.name}}</div>
              <div style="flex: 1; text-align: end;">{{getNextStopEstimatedTime()}}</div>
            </div>
            <ion-spinner slot="end" *ngIf="(loadingShuttle | async)"></ion-spinner>
          </ion-item>
          <ion-item color="dark">
            Final Stop: 
            <div style="display: flex; width: 100%;" *ngIf="nextStop">
              <div style="margin-right: 20px;">{{finalStop.locationID.name}}</div>
              <div style="flex: 1; text-align: end;">{{getFinalStopEstimatedTime()}}</div>
            </div>
            <ion-spinner slot="end" *ngIf="(loadingShuttle | async)"></ion-spinner>

          </ion-item>
        </ion-list>
      </ion-card>
    </div>
  </div>
</div>